<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="/assets/logo.png" alt="logo" style="width:100px;">
  </a>
  <button class="btn btn-outline-warning my-1 my-sm-0" type="submit" (click)="logout()">Logout</button>
</nav>


<form class="seachform">
  <input type="text" placeholder="Search project" name="search" id="inputSearch">
  <button type="submit" (click)="filterProjects()"><i class="fa fa-search"></i></button>
</form>


<div class="row">
  <div class="col" class="col-12 col-md-6" *ngFor="let project of projects;">
    <div class="card" (click)="navigateToTasks(project)">
      <div class="row no-gutters">
        <div class="col-auto">
          <div class="circular--portrait">
            <img class="card-image" [src]="project.imageUrl !== undefined? project.imageUrl: 'https://tiendavertigo.com/assets/img/img-placeholder.png'" height="100px">
          </div>
        </div>
        <div class="col">
            <div class="card-block px-2">
              <h4 class="card-title">{{project.name}}</h4>
              <p class="card-text">{{project.description}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
